#-----------------------------------------------------------------------------
#   .gitignore			- stowpkg git(1) exclude patterns
#
#   Copyright © 2020-2022 Das Computerlabor (DCl-M)
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 2 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License along
#   with this program; if not, write to the Free Software Foundation, Inc.,
#   51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#   AUTHOR(S):	ks	Karl Schmitz <carolus.faber@gmail.com>
#
#   WRITTEN BY:	ks	2020-05-03
#   CHANGED BY:	ks	2021-04-18	UTF-8ize copyright notice.
#
#   NOTE:   (1)	Exclude patterns for tools beyond the actual build tools have
#		been left out intentionally! Such patterns are better kept in
#		a global exclude pattern file. See the GIT documentation for
#		further information about this topic.
#-----------------------------------------------------------------------------
#   autoreconf(1) results:
#-----------------------------------------------------------------------------
/aclocal.m4
/autom4te.cache/
/configure
/auto/install-sh
/auto/missing
Makefile.in

#-----------------------------------------------------------------------------
#   configure(1) results:
#-----------------------------------------------------------------------------
/config.*
Makefile

#-----------------------------------------------------------------------------
#   make(1) results:
#-----------------------------------------------------------------------------
bin/stowpkg

